* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  font-family: 'Open Sans', arial;
  text-align: center;
  
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  padding: 11px;
  margin-bottom: 5px;
  font-weight: 800;
  color: darkgray;
  
}
.bottom-li {
  margin-bottom: 26px;
}
li a:visited {
  color: black;
}
li a:hover {
  color: green;
}

body {
  padding: 10%;
}
 h1, h2 {
   margin: 20px;
 }
 h2 {
   text-transform: uppercase;
   font-weight: 800;
   font-size: 19px;
   padding: 4px;
 }
 .title {
   font-size: 36px;
 }
 .bio {
   margin-top: 14px;
   font-size: 16px;
 }
 .pro-pic {
   padding-top: 32px;
   max-width: 80%;
 }
 .port-container {
   padding-top: 10%;
   padding-bottom: 10%;
 }
 #portfolio {
   padding: 14px;
   border-bottom: darkgrey 1px solid;
 }
 .pic-p {
  margin-bottom: 17px;
}
#contact {
  padding:5%;
  margin-top: 10px;
}
footer {
  padding-top: 24px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 32px;
  border-bottom: lightgray solid 2px;
}
footer  a:visited {
  color:blue;
}
#contact a:visited {
  color:black
}
.contact-info {
  font-weight: 700;
}
.top {
  margin: 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
#nav-bottom {
  display: none;
}

@media (min-width: 768px) {

  h1 {
    margin-bottom: 50px;
  }

 #nav-ul{
  width: 350px;
  display: flex;
  margin: auto;
  width: 50%;
  margin-bottom: 30px;
}

li {
  font-size: 18px;
  margin-right: 40px;
}
.sec-1 {
  display: flex;
  flex-direction: row-reverse;
  max-width: 98%;

}
.pro-pic {
  padding-top: 12px;
  width: 75%;
 
}

.bio{
  text-align: center;
  font-size: 1.15em;
}
.proj {
  float: left;
  width: 43%;
  margin: auto;
}
.proj img {
  max-width: 101%;
}
.proj:nth-child(even) {
  margin: 0 4.6%;
}
#contact { 
  clear: both;
}
.top {
  font-size: 18px;
}
.port-text {
  padding: 0 20px; 
}
.bottom-name {
  margin-right: 90%;
  font-weight: 800;
  font-size: 17px;
}
#nav-bottom {
display: flex;
margin-left: 46%;
margin-top: -32px;
text-decoration: none;
}

}

@media (min-width: 1024px) {

    header {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      margin-top: -3px;
    }
    body {
      
    }
    #nav-ul {
      margin-left: 7%;
    }

    .bio {
      margin-top: 16px;
      font-size: 1.2em;
    }
    #nav-bottom {
      margin-left: 59%;
    }

    .proj {
      width: 27%;
      margin-right:;
      
     
    }
    .proj img {
      max-width: 100%;

    }
 
    .proj:nth-child(even) {
      margin: initial;
    }
    
   
  }

